body {
    background-color: #A8D0E6;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
}

.slogan {
    font-size: 35px;
    color: #24305E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slogan-text {
    text-align: center;
}

.btn-start {
    background-color: #F76C6C;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
}

.btn {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}