body {
    background-color: #A8D0E6;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100vh;

    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #374785;
    height: 80px;
    position: relative;
    margin: 0;
}

.header_name {
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    left: 80%;
    transform: translateX(-20%);
    white-space: nowrap;
}

.background-main {
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px #24305E solid;
    padding: 20px;
    width: 35%;
    text-align: center;
    color: #24305E;
}

.enter-input-name {
    width: 90%;
    border-radius: 10px;
    border: 1px #24305E solid;
    height: 50px;
    font-family: "Philosopher", sans-serif;
    padding-left: 10px;
    font-size: 20px;
    color: #24305E;
}

.enter-input-name-title{
    text-align: left;
    margin-left: 30px;
    margin-bottom: 3px;
}

.btn-start {
    background-color: #F76C6C;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
    font-family: "Philosopher", sans-serif;
}

.btn {
    margin-top: 40px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.enter-title {
    font-size: 40px;
}

.timer-game {
    font-size: 35px;
}

.content-wrapper {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.round-name {
    color: #FFFFFF;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sqr {
    width: 25px;
    height: 25px;
    background-color: #E0E0E0;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
}

.all-sqr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.sqr.winner {
    background-color: #28d45c;
}

.sqr.loser {
    background-color: #ed4264;
}

.season-name {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 3px;
    font-size: 25px;
}

.product-name {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 3px;
    font-size: 25px;
}

.trust-level-name {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 3px;
    font-size: 25px;
}

.quality-block {
    display: flex;
    flex-direction: column; 
    font-size: 20px;
}

.round-result {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
}