<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Entry Page</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="style_enter.css">
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<body>

<div class="background-main">
    <h class="enter-title">Вход</h>

    <p class="enter-input-name-title">Имя</p>
    <input class="enter-input-name" placeholder="Введите Ваше имя">

    <div class="btn">
        <btn class="btn-start"><a href="main_page.html">Начать</a></btn>
    </div>
</div>


</body>
</html>