<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<!-- скрипт для страницы проигрыша-->
<title>Проигрыш</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../static/css/style_win_fail_pages.css?2">
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<body>
    <div class="header">
        <p class="header_name">{{ name }}</p>
    </div>
    
    <div class="text-block">
        <p>УВЫ, <br> ВЫ ПРОИГРАЛИ!</p>
    </div>
</body>
</html>
