<!DOCTYPE html>
<html lang="ru">
<meta charset="UTF-8">
<!-- скрипт для лендинг страницы -->
<title>Landing Page</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../static/css/style_landing.css">
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<body>
<div class="slogan">
    <div class="slogan-text">Где цена и качество встречаются с доверием <br> Побеждай в Market Competition</div>

    <div class="btn">
        <button class="btn-start"><a href="/enter">Начать</a></button>
    </div>
</div>
</body>
</html>
