<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Main Page</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../static/css/style_main.css">
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<body>
    <div class="header">
        <p class="header_name">Имя</p>
        <img>
    </div>
    
    <div class="container">
            <div class="left-half">
                <h1 class="">Правила игры</h1>
                <p>
                    Продавцы независимо друг от друга устанавливают минимальную цену и качество своих товаров/услуг в зависимости от времени года.  Покупатель сравнивает условия обоих продавцов и делает выбор в пользу наиболее выгодного (в соотношении цены-качества) продавца, при этом учитывая личные предпочтения и доверие к продавцу.
                    После этого раунд заканчивается. Продавцы видят свой доход и в начале нового раунда могут скорректировать свои условия.
                    В конце игры подсчитывается доход обоих продавцов и на основе этих результатов определяется победитель.
                </p>
            </div>
            <div class="right-half">
                <div class="btn">
                    <button class="btn-start"><a href="/game">Играть</a></button>
                </div>
            </div>
    </div>
</body>
</html>