<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Main Page</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../static/css/style_main.css?4">
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<body>
    <div class="header">
        <p class="header_name">{{ name }}</p>
    </div>
    
    <div class="container">
            <div class="left-half">
                <h1 class="">Правила игры</h1>
                <p>
                    Продавцы независимо друг от друга устанавливают минимальную цену и качество своих товаров/услуг в зависимости от времени года, помимо этого продавец опционально может вложиться в рекламу своего бренда. 
                    Покупатель сравнивает условия обоих продавцов и делает выбор в пользу наиболее выгодного (в соотношении цены-качества) и наиболее привлекательного продавца, при этом учитывая личные предпочтения и доверие к продавцу. 
                    После этого раунд заканчивается. Продавцы видят свой доход и в начале нового раунда могут скорректировать свои условия. 
                    В конце игры подсчитывается доход обоих продавцов и на основе этих результатов определяется победитель.
                </p>
            </div>
            <div class="right-half">
                <div class="btn">
                    <form action="/create_game" method="post">
                        <button class="btn-start" type="submit">Создать игру</button>
                    </form>
                </div>
                <h class="game-id">ID игры: {{ game_id }}</h>
                <div class="btn">
                    <form action="/join_game" method="post">
                        <button class="btn-start" type="submit">Присоединиться к игре</button>
                        <input class="enter-input-name" name="game_id" placeholder="Введите ID игры" required>
                    </form>
                </div>
                

            </div>
    </div>
</body>
</html>
