<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Landing Page</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../static/css/style_player.css?6">
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<body>

    <div class="header">
        <p class="round-name" id="round-name">Раунд {{cur_round}}</p>
    </div>

    <div class="content-wrapper">
        <div class="background-main">
            <h class="enter-title">Игрок 1</h>
            <form action="/submit_name" method="post">
                <p class="enter-input-name-title">Цена</p>
                <input class="enter-input-name" name="name" placeholder="Цена" required>
                <div class="btn">
                    <button class="btn-start" type="submit">Подтвердить</button>
                </div>
            </form>
        </div>
    
        <div class="time-block">
            <div class="timer-game">Оставшееся время:</div>
            <div id="timer" class="timer-game">20</div>
        </div>
    </div>
    
    <script>
        const timerElement = document.getElementById('timer');
        const roundElement = document.querySelector('.round-name');

        if (window.ws) {
            window.ws.close();
        }
        const ws = new WebSocket(`ws://${window.location.host}/ws/1`);

        ws.onmessage = function(event) {
            const [time, round] = event.data.split('|');
            timerElement.innerHTML = time;
            roundElement.textContent = `Раунд ${round}`;
        };
    </script>


</body>
</html>